features/.project
features/bin/
features/target/
java/common/target/
java/gadgets/target/
java/server/src/main/webapp/WEB-INF/classes/
java/server/target/
java/social-api/.project
java/social-api/target/
