/features/bin/*
/features/target/*
/java/common/target/*
/java/common/test-output/*
java/common/temp-testng-customsuite.xml
/java/gadgets/target/*
/java/server/src/main/webapp/WEB-INF/classes/*
/java/server/target/*
/java/social-api/target/*
/java/target/*
/target/*
